<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Politica de Confidențialitate</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Resi - v4.7.0
  * Template URL: https://bootstrapmade.com/resi-free-bootstrap-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  
  <section class="counts section">
    <div class="container">
      <a href="javascript:history.back()"> < Înapoi </a>
      <p></p>    
      <div class="row">

        <div class="col-lg-12 col-md-12">
          

          <h2>Date colectate automat</h2>
    
          <p>În timpul vizitei dumneavoastră pe site-ul nostru web, datele despre vizita dumneavoastră sunt colectate automat, de exemplu, adresa dumneavoastră IP, numele domeniului, tipul browserului, tipul sistemului de operare etc.</p>
          
          <h2>Date colectate atunci când ne contactați</h2>
          <p>Atunci când ne contactați prin intermediul site-ului web, prin telefon, e-mail etc., ne furnizați datele dumneavoastră personale, de exemplu, numele, prenumele, adresa de e-mail etc.</p>
          
          <h2>Cum folosim datele dvs.?</h2>
          <p>În niciun caz nu vom vinde datele colectate despre dumneavoastră către terți.</p>
          <p>Datele colectate în timpul înregistrării vor fi folosite numai pentru a vă permite să vă conectați la sistemul nostru.</p>
          <p>Dacă v-ați abonat la Newsletter-ul nostru sau ați fost de acord în alt mod să îl primiți, vom folosi datele dumneavoastră pentru a vă trimite Newsletter-ul nostru. Veți fi întrebat dacă doriți să primiți Newsletter-ul în timpul înregistrării.</p>
          <p>Datele colectate automat pot fi folosite pentru a analiza comportamentul utilizatorilor pe site-ul nostru web, pentru a colecta date demografice despre utilizatorii noștri sau pentru a personaliza conținutul site-urilor noastre web. Aceste date sunt colectate automat despre fiecare utilizator. Datele colectate în timpul corespondenței dintre dvs. și site-ul nostru web vor fi utilizate numai pentru a răspunde la întrebarea dvs.</p>
          <p>În cazul unei inspecții de către Inspectoratul General pentru Protecția Datelor cu Caracter Personal, datele dumneavoastră pot fi puse la dispoziția angajaților Inspectoratului în conformitate cu Legea privind protecția datelor cu caracter personal.</p>
          <p>În cazul unei încălcări a Reglementărilor site-ului nostru web, a unei încălcări a legii sau atunci când aceasta va fi cerută de lege, este posibil să dezvăluim datele dumneavoastră către autoritățile judiciare.</p>
          
          <h2>Google Analytics</h2>
          <p>Nu folosim acest serviciu.</p>     
          
          <h2>Cum te vom contacta?</h2>
          <p>Dacă v-ați abonat la Newsletter-ul nostru sau ați acceptat în alt mod să îl primiți, veți primi Newsletter-ul nostru prin e-mail.</p>
          
          <h2>Utilizarea cookie-urilor („cookies”)</h2>
          <p>Site-ul nostru web nu folosește cookie-uri.
          
          </p><h2>Modificări ale politicii noastre de confidențialitate.</h2>
          <p>Ne rezervăm dreptul de a modifica politica de confidențialitate de mai sus prin publicarea unei noi politici de confidențialitate pe acest site web.</p>
          
          <h2>a lua legatura</h2>
          <p>Dacă aveți întrebări suplimentare cu privire la protecția vieții private, vă rugăm să ne contactați folosind formularul de contact din pagina de contact.</p>
    </div>
  </div>
</div>
  
  

  
</body>

</html>