<!DOCTYPE html>
<html lang="ro">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Privacy policy</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Resi - v4.7.0
  * Template URL: https://bootstrapmade.com/resi-free-bootstrap-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  
  <section class="counts section">
    <div class="container">
      <a href="javascript:history.back()">< Back</a>
      <p></p>    
      <div class="row">

        <div class="col-lg-12 col-md-12">
          

    <h2>Data collected automatically</h2>
    
    <p>During your visit to our website, data about your visit is automatically collected, e.g. your IP address, domain name, browser type, operating system type, etc.</p>
    
    <h2>Data collected when you contact us</h2>
    <p>When you contact us via the website, telephone, e-mail, etc., you provide us with your personal data, e.g. name, surname, e-mail address, etc.</p>
    
    <h2>How do we use your data ?</h2>
    <p>Under no circumstances will we sell the data collected about you to third parties.</p>
    <p>The data collected during registration will be used only to enable you to log into our system.</p>
    <p>If you subscribed to our Newsletter, or otherwise agreed to receive it, we will use your data to send you our Newsletter. You will be asked if you want to receive the Newsletter during registration.</p>
    <p>Data collected automatically can be used to analyze user behavior on our website, collect demographic data about our users, or to personalize the content of our websites. These data are collected automatically about each user. The data collected during the correspondence between you and our website will be used only to answer your inquiry.</p>
    <p>In the event of an inspection by the General Inspectorate for Personal Data Protection, your data may be made available to the employees of the Inspectorate in accordance with the Personal Data Protection Act.</p>
    <p>In the event of a breach of the Regulations of our website, violation of the law, or when it will be required by law, we may disclose your data to judicial authorities.</p>
    
    <h2>Google Analytics</h2>
    <p>We do not use this service.</p>     
    
    <h2>How will we contact you ?</h2>
    <p>If you subscribed to our Newsletter, or otherwise agreed to receive it, you will receive our Newsletter by e-mail.</p>
    
    <h2>The use of cookies ("cookies")</h2>
    <p>Our website does not use cookies.</p>
    
    <h2>Changes to our privacy policy.</h2>
    <p>We reserve the right to change the above privacy policy by publishing a new privacy policy on this website.</p>
    
    <h2>Contact</h2>
    <p>If you have additional questions regarding privacy protection, please contact us using the contact form on the contact page.</p>
    </div>
  </div>
</div>
  
  

  
</body>

</html>